@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #52AA5E;
    --secondary-color: #1F2F16;
    --accent1-color: #0B2545;
    --accent2-color: #797D81;
    
    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Roboto Condensed', serif;
    
    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color)
  }
  
  body {
     font-family: var(--paragragh-font);
     max-width: 960px;
     padding: 20px;
  }
  h1, h2, h3, h4, h5, h6, .name {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
    font-family: var(--paragragh-font);
    font-size: 14px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }

  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }

  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }

  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }