nav {
    background-color: steelblue;
    padding: 5px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 { 
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 5px;
}

